/* Pagina inicio */
body.inicio{
    background-color: black;
}
nav.enlaces{
    background-color: whitesmoke;
    
}
div.enlaces{
    text-align: center;
}
img.Escudo{
    float: left;
}
img.Bandera{
    float: right;
}
h1.titulo{
    background-color: orange;
}

h2{
    text-align: center;
    font-style: italic;
    color: orange;
}

div.Ubicacion{
    text-align: center;
    display: contents flex;
}
div.Productos{
    text-align: center;
    display: contents flex;
}
div.Plantilla{
    text-align: center;
    display: contents flex;
}

h1.Pie{
    background-color: orange;
    font-style:italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Contacto y taquilla */
body.extra{
    background-color: orange;
}
h1.extra{
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

article.form{
    text-align: center;
    background-color: beige;
    border-style: dashed;
}
div.form{
    text-align: left;
    display:inline-block;
}

div.fimagen{
    text-align: right;
    display:inline-block;
}

span.extra{
    background-color: beige;
}





/* Plantilla */
h3 {
    background-color: black;
    color: orange;
    text-align: center;
}
div.Porteros{
    display: inline-block;
}
p{
    font-weight: bold;
}